body{
    text-align: center;
}

.btn-cont{
    display: flex;
    justify-content: center;
}

.btn{
    width: 150px;
    height: 150px;
    border-radius: 20px;
    border: 5px solid black;
    margin: 20px;
    cursor: pointer;
}

.red{
    background-color: #ce4257;
}

.purple{
    background-color: #bc75d4;
}

.yellow{
    background-color: #feee63;
}

.blue{
    background-color: #61a5c2;
}

.flash{
    background-color: white;
}

.userflash{
    background-color: #5cc760;
}